$color-header-footer: #bbcde1;
$color-main: #597fa8;
$color-i: black;
$color-h1: #231f20;
$medidas-img: width, 35rem;
$body-font: "Libre Baskerville", serif;
$border-style: solid;
$imgs: max-width, 100%;
