* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #231f20;
}

.img1 {
  max-width: 100%;
  width: 35rem;
}
.img2 {
  max-width: 100%;
  width: 35rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
}

body {
  font-family: "Libre Baskerville", serif;
}

header {
  background-color: #bbcde1;
  padding: 0.5rem;
}

.subrayado {
  text-decoration: none;
}

main {
  background-color: #597fa8;
}
@media (min-width: 320px) {
  .mapa-link {
    width: 100%;
    height: 360px;
  }
}
@media (min-width: 600px) {
  .mapa-link {
    width: 75%;
    height: 450px;
  }
}
@media (min-width: 1024px) {
  .mapa-link {
    width: 50%;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .mapa-link {
    width: 35%;
    height: 400px;
  }
}

form {
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 3rem;
}

i .footercolor {
  color: #231f20;
}
footer {
  background-color: #bbcde1;
}
i {
  font-size: 3rem;
  color: black;
}

/* TERMINA INDEX */

/* EMPIEZA "EL HOTEL" */
.nav-hotel {
  border: #231f20;
  text-align: center;
}

h3 {
  text-align: center;
  align-content: right;
  width: 20rem;
  border-style: solid;
}
.texto1 {
  border-style: solid;
}
.img3 {
  max-width: 100%;
  width: 25rem;
  height: 25rem;
}
.img4 {
  max-width: 100%;
  margin-top: 4rem;
  padding-bottom: 2rem;
}
.img5 {
  max-width: 100%;
  margin-top: 4rem;
}

/* TERMINA EL HOTEL */

/* EMPIEZAN LAS HABITACIONES */

.parrafo2 {
  border-style: solid;
  text-align: left;
  align-content: left;
  width: 20rem;
  margin-top: 2rem;
}
.habitaciones {
  align-content: right;
  text-align: center;
  margin-top: 2rem;
}

/* TERMINAN HABITACIONES */

/* EMPIEZA ENTORNO */
.display1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 2rem;
}
.display2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 2rem;
}
.display3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 5rem;
}
.parrafo3 {
  border-style: solid;
  text-align: center;
}
.parque {
  align-self: center;
}
.bar {
  align-self: center;
}
.cine {
  align-self: center;
}
/* TERMINA ENTORNO */

/* EMPIEZA CONSULTAS FRECUENTES */
.parrafo4 {
  border-style: solid;
  text-align: center;
  margin-bottom: 5rem;
}
.parrafo5 {
  border-style: solid;
  text-align: center;
  margin-bottom: 5rem;
}
.parrafo6 {
  border-style: solid;
  text-align: center;
}
/* TERMINA CONSULTAS FRECUENTES */
